doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
    
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/bower_components/moment/min/moment.min.js")
    script(src="/bower_components/bootstrap-table/dist/bootstrap-table.min.js")
    
    script(src="/javascripts/prices.js")
  body
    .container
      block content
      hr
